<div class="custom-dr" appOpenMenu>
  <button 
    #triggerBtn
    class="custom-dr__trigger-btn"
    [attr.aria-label]="selectorData().ariaLabel || ''"
    aria-haspopup="listbox"
    [attr.aria-expanded]="openMenu().isOpen ? 'true' : 'false'"
    (keydown)="handleTriggerKeydown($event)"
    type="button"
  >
    <div class="custom-dr__selected">
      @if(selectorData().icon) {
        <mat-icon>{{selectorData().icon}}</mat-icon>
      }
      <span>{{ selectedOption() }}</span>
    </div>
    <mat-icon class="carret">arrow_drop_down</mat-icon>
  </button>

  <div class="custom-dr__body dropdown-body">
    <div class="dropdown-content">
      <ul 
        class="custom-dr__list dropdown-list" 
        role="listbox"
        [attr.tabindex]="openMenu().isOpen ? '0' : '-1'"
        (keydown)="handleListKeydown($event)"  
      >
        @for(option of selectorData().options; track $index) {
          <li>
            <button 
              #optionBtn
              role="option"
              [attr.aria-selected]="currentOption() == option.slug"
              [attr.tabindex]="openMenu().isOpen ? '0' : '-1'"
              (click)="selectOption(option.slug)"
              [class.active]="currentOption() == option.slug"
            >
              @if(option.iconName) {
                <mat-icon>{{option.iconName}}</mat-icon>
              }
              <span>{{ option.item }}</span>
            </button>
          </li>
        }
      </ul>
    </div>

  </div>
</div>
