@use "./styles/dropdown-button.scss";
@use "./styles/dropdown-body.scss";

.common-selector {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.custom-dr__trigger-btn {

}

.custom-dr {
  position: relative;

  &.open {
    .custom-dr__body {
      pointer-events: unset;
    }

    .carret {
      transform: rotate(180deg);
    }
  }
}