.public-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

mat-sidenav-container{
  flex: 1;
  // min-height: calc(100% - 64px - 90px);
}

mat-sidenav {
  --mat-sidenav-container-shape: 0;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;

  main {
    flex: 1;
  }
}

// НСЛИ НУЖЕН БУДЕТ НЕ ЛИПКИЙ ХЕДЕР
// .main-container {
//   height: auto !important;
//   min-height: 100vh;
//   overflow: visible !important;

//   // Отключаем внутренний скролл у контентной части
//   ::ng-deep .mat-sidenav-content {
//     height: auto !important;
//     overflow: visible !important;
//   }
// }

// .public-container {
//   display: flex;
//   flex-direction: column;
// }