<div class="public-container">
  <app-header 
    #headerMain
    />
  <app-header-market 
    #headerMarket
    class="green" 
  />

  <mat-sidenav-container #sidenavContainer
    class="main-container green"
  >
    <mat-sidenav #sidenavMenu [mode]="'over'" position="start">
      <app-sidenav-menu />
    </mat-sidenav>

    <mat-sidenav #sidenavCart [mode]="'over'" position="end">
      <app-sidenav-cart />
    </mat-sidenav>

    <mat-sidenav-content>
      <main>
        <router-outlet />
      </main>
      
      <app-public-footer />

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
