<div class="public-container">
  <app-header 
    #headerMain
    (toggleSidenav)="sidenav.toggle()" 
  />
  <app-header-market 
    #headerMarket
    class="green" 
  />

  
  <!-- [style.minHeight.px]="sidenavHeight()" -->
  <mat-sidenav-container #sidenavContainer
    class="main-container green"
  >
    <mat-sidenav #sidenav [mode]="'side'">
      <p>PUBLIC SIDENAV</p>
    </mat-sidenav>

    <mat-sidenav-content>
      <main>
        <router-outlet />
      </main>
      
      <app-public-footer />

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
