<form 
  class="user-form"
  [formGroup]="userForm"
  (ngSubmit)="onSubmit()"
>
  <div class="user-form__controls">
    <app-form-control-name 
      [nameControl]="nameControl"
      [title]="'profile.name' | translate"
      [hint]="'common.forms.name.nick-hint' | translate"
      [placeholder]="'common.forms.name.nick-placeholder' | translate"
      suffixIcon="person"
    />

    <app-custom-selector 
      class="user-form__prefer-lang"
      [customControl]="preferLangControl"
      pathData="profile.prefer-lang"
    />

    <app-form-control-phone 
      [inputControl]="phoneControl"
      [title]="'profile.phone.title' | translate"
    />
  
    <app-form-control-datepicker
      [datepickerControl]="birthdayControl"
      [title]="'profile.birthday.title' | translate"
      [maxDate]="maxDate"
    /> 

    <app-custom-selector 
      class="user-form__gender"
      pathData="profile.gender"
      [customControl]="genderControl"
    />
  
    <app-form-control-input 
      class="user-form__country"
      [inputControl]="countryControl"
      [title]="'profile.country.title' | translate"
      [label]="'profile.country.label' | translate"
      [suffixIcon]="'profile.country.suffixIcon' | translate"
    />
  
    <app-form-control-input 
      class="user-form__city"
      [inputControl]="cityControl"
      [title]="'profile.city.title' | translate"
      [label]="'profile.city.label' | translate"
      [suffixIcon]="'profile.city.suffixIcon' | translate"
    />
  
    <app-form-control-input 
      class="user-form__address"
      [inputControl]="addressControl"
      [title]="'profile.address.title' | translate"
      [label]="'profile.address.label' | translate"
      [suffixIcon]="'profile.address.suffixIcon' | translate"
    />
  </div>

  <app-btn-flat 
    class="user-form__submit"
    [btnText]="'common.save' | translate"
    type="submit"
    [btnDisabled]="userForm.invalid || userForm.pristine || submitting()"
  />
</form>
