:host {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}