.profile{
  padding: 24px 0;
  display: flex;
  flex-direction: column;
}

.profile_content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile__title {
  @media (max-width: 992px) {
    text-align: center;
  }
}

.profile__avatar {
  @media (max-width: 992px) {
    align-self: center;
  }
}