@use "@angular/material" as mat;

:host {
  z-index: 2;
  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary-container),
      container-text-color: var(--mat-sys-secondary-fixed-dim),
      standard-height: "auto",
    )
  );
}

mat-toolbar {
  --mat-toolbar-mobile-height: auto;

  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

.hm__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 15px;

  @media (max-width: 1024px) {
    gap: 10px;
  }

  .hm__left {
    @media (max-width: 992px) {
      display: none;
    }

    @media (max-width: 768px) {
      display: block;
    }
  }

  .hm__center {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    @media (max-width: 1024px) {
      gap: 10px;
    }

    app-search-in-market {
      @media (max-width: 768px) {
        display: none;
      }
    }
  }

  .hm__right {
    display: flex;
    gap: 15px;

    @media (max-width: 1024px) {
      gap: 10px;
    }
  }
}

.hm__bottom {
  display: none;
  width: 100%;
  height: auto;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease;

  @media (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  app-search-in-market {
    padding-top: 15px;

    @media (max-width: 768px) {
      width: 100%;
    }
  }
}
