<mat-toolbar
  [appShowEl]="showSearchService.isSearchVisible()"
>
  <div class="hm__top">
    <div class="hm__left">
      <app-logo />
    </div>
  
    <div class="hm__center">
      <app-catalog-selector />
      <app-search-in-market />
    </div>
  
    <div class="hm__right">
      <app-profile-btn />
      <app-favs-btn />
      <app-shopping-cart />
      <app-more-btn/>
    </div>
  </div>

  <div class="hm__bottom elem-body">
    <app-search-in-market class="elem-content"/>
  </div>
</mat-toolbar>
