@use "@angular/material" as mat;

:host {
  z-index: 2;
  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-primary-container),
      container-text-color: var(--mat-sys-secondary-fixed-dim),
      standard-height: 'auto',
    )
  );
}

mat-toolbar{
  padding-top: 7px;
  padding-bottom: 7px;
  gap: 15px;

  @media (max-width: 1024px) {
    gap: 10px;
  }
}
