<div class="sidenav-menu">
  <div class="sidenav-menu__header">
    <app-main-logo />

    <app-btn-icon 
      iconName="close"
      class="sidenav-cart__close"
      [tooltipText]="'common.close' | translate"
      [ariaLabel]="'common.close' | translate"
      (click)="sidebarService.close('menu')"
    />
  </div>

  <div class="sidenav-menu__sing">
    <mat-icon>person</mat-icon>
    <app-btn-flat 
      [btnText]="'sidenav-menu.enter' | translate"
      bgColor="transparent"
      btnBorder="none"
      (click)="signDialogService.openLoginDialog(); sidebarService.close('menu')"
    />
    <span>|</span>
    <app-btn-flat 
      [btnText]="'sidenav-menu.registration' | translate"
      bgColor="transparent"
      btnBorder="none"
      (click)="signDialogService.openRegisterDialog(); sidebarService.close('menu')"
    />
  </div>
</div>
