.sidenav-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidenav-menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

.sidenav-menu__sign {
  padding: 8px 15px;
  background-color: var(--mat-sys-primary-container);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  
  .mat-icon {
    width: auto;
    height: auto;
    color: var(--mat-sys-on-secondary-container);
    font-size: 32px;
  }
}

app-location {
  padding: 0 10px;
}

mat-divider {
  margin-bottom: 10px;
}