<div class="sidenav-menu">

  <div class="sidenav-menu__header">
    <app-main-logo />

    <app-btn-icon 
      iconName="close"
      class="sidenav-cart__close"
      [tooltipText]="'common.close' | translate"
      [ariaLabel]="'common.close' | translate"
      (click)="sidebarService.close('menu')"
    />
  </div>

  <app-search-in-market class="no-radius"/>

  <div class="sidenav-menu__sign">
    <mat-icon>person</mat-icon>
    @if(user()) {
      <app-btn-flat 
        [btnText]="'common.logout' | translate"
        bgColor="transparent"
        btnBorder="none"
        (click)="logout()"
      />
    } @else {
      <app-btn-flat 
        [btnText]="'common.login' | translate"
        bgColor="transparent"
        btnBorder="none"
        (click)="signDialogService.openLoginDialog(); sidebarService.close('menu')"
      />
    }
    <span>|</span>
    <app-btn-flat 
      [btnText]="'common.register' | translate"
      bgColor="transparent"
      btnBorder="none"
      (click)="signDialogService.openRegisterDialog(); sidebarService.close('menu')"
    />
  </div>

  

  <app-catalog-selector 
    class="stretch"
  />

  <mat-divider></mat-divider>

  <app-btn-raised 
    [btnText]="('breadcrumbs.profile.name' | translate)"
    class="sidenav-menu__link accordion-btn"
    iconName="person"
    (click)="navigateToProfile()"
  />

  <app-btn-raised 
    [btnText]="('favs-page.title' | translate) + ' ' + `(${totalFavs()})`"
    class="sidenav-menu__link accordion-btn"
    iconName="favorite_border"
    (click)="navigateToFavs()"
  />

  <app-btn-raised 
    [btnText]="('cart.title' | translate) + ' ' + `(${totalItems()})`"
    class="sidenav-menu__link accordion-btn"
    iconName="shopping_cart"
    (click)="sidebarService.open('cart')"
  />

  <mat-divider></mat-divider>

  <app-location 
    textColor="var(--mat-sys-on-background)"
    iconColor="var(--mat-sys-on-background)"
    [textWithIcon]="true"
  />

  <mat-divider></mat-divider>

  <app-footer-nav class="in-column"/>
</div>
