.sidenav-menu {
  padding: 24px 15px;
  display: flex;
  flex-direction: column;
  grid-template-columns: 10px;
}

.sidenav-menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}