<div class="sidenav-menu">
  <div class="sidenav-menu__header">
    <app-main-logo />

    <app-btn-icon 
      iconName="close"
      class="sidenav-cart__close"
      [tooltipText]="'common.close' | translate"
      [ariaLabel]="'common.close' | translate"
      (click)="sidebarService.close('menu')"
    />
  </div>

  <div class="sidenav-menu__sign">
    <mat-icon>person</mat-icon>
    <app-btn-flat 
      [btnText]="'sidenav-menu.enter' | translate"
      bgColor="transparent"
      btnBorder="none"
      (click)="signDialogService.openLoginDialog(); sidebarService.close('menu')"
    />
    <span>|</span>
    <app-btn-flat 
      [btnText]="'sidenav-menu.registration' | translate"
      bgColor="transparent"
      btnBorder="none"
      (click)="signDialogService.openRegisterDialog(); sidebarService.close('menu')"
    />
  </div>

  <app-catalog-selector 
    class="stretch"
  />

  <mat-divider></mat-divider>

  <app-location 
    textColor="var(--mat-sys-on-background)"
    iconColor="var(--mat-sys-on-background)"
    [textWithIcon]="true"
  />

  <mat-divider></mat-divider>

  <app-footer-nav class="in-column"/>
</div>
