button {
  --mat-sys-hover-state-layer-opacity: 0.5;
  white-space: nowrap;
  line-height: 1.4;
  
  &:focus{
    border: 2px solid var(--mat-sys-primary) !important;
  }

  .mat-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: auto;
  }

  @media (max-width: 768px) {
    font-size: 0.875rem;
  }
}
