.login-popup {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border: 1px solid var(--mat-sys-primary);
  border-radius: 30px;

  app-btn-icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .login-popup__hero {
    width: 171px;
    height: 450px;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
    }
  }
}