@let translations = ('common' | translate);

<div class="login-popup">
  <app-btn-icon 
    iconName="close"
    (click)="dialogRef.close()"
    [tooltipText]="translations.close"
  />

  <mat-dialog-content>
    <div class="login-popup__content">
      <div class="login-popup__hero">
        <img 
          [src]="heroImg" 
          alt="hero"
          width="171"
          height="450"
        >
      </div>
    
      <app-login 
        (openRegisterPopup)="goToRegisterPopup()"
        [isPopup]="true"
      />
    </div>
  </mat-dialog-content>
</div>
