.login-popup {
  padding: 15px 0;

  border: 1px solid var(--mat-sys-primary);
  border-radius: 28px;

  app-btn-icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .login-popup__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .login-popup__hero {
    width: 171px;
    height: 450px;
    flex-shrink: 0;

    @media (max-width: 576px) {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}