:host {
  width: 100%;
}

.scroll-items__wrapper {
  width: 100%;
  cursor: grab;
}

.scroll-items__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  padding-bottom: 5px;
  overflow-x: auto;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    height: 4px;
    cursor: pointer;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--mat-sys-primary);
    // border-left: 2px solid var(--mat-sys-on-secondary);
    // border-right: 2px solid var(--mat-sys-on-secondary);
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb:hover {
    cursor: auto;
    background-color: color-mix(in srgb, var(--mat-sys-primary) 90%, black 10%);
  }

  &.dragging {
    scroll-behavior: auto;
    cursor: grabbing;

    .scroll-items__item {
      user-select: none;
      pointer-events: none;
    }
  }
}

.scroll-items__item {

}