.product-carousel {
  --user-controls-padding: 0;
  --user-controls-btn-border: none;
  --user-controls-btn-fill: var(--mat-sys-primary);
  --user-controls-btn-hover-bg: color-mix(in srgb, var(--mat-sys-primary), transparent 90%);
  --user-controls-btn-hover-fill: var(--mat-sys-primary-container);

  margin: auto;
  width: 100%;
  max-width: 512px;
  max-height: 512px;
  aspect-ratio: 1;
  min-width: 0;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;

  @media (max-width: 768px) {
    margin-bottom: 30px;
  }
}
