.product-carousel {
  --user-controls-padding: 0;
  --user-controls-btn-border: none;
  --user-controls-btn-fill: var(--mat-sys-primary);
  --user-controls-btn-hover-bg: color-mix(in srgb, var(--mat-sys-primary), transparent 90%);
  --user-controls-btn-hover-fill: var(--mat-sys-primary-container);

  width: 512px;
  height: 512px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}