:host {
  flex-shrink: 0;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  text-decoration: none;
  cursor: pointer;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 0.8;
  }

  mat-icon {
    width: auto;
    height: 50px;
  }
}

.logo__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Ruda", Arial, Helvetica, sans-serif;
  font-weight: 500;
  line-height: 1.2;

  @media (max-width: 992px) {
    display: none;
  }

  @media (max-width: 768px) {
    display: flex;
  }
}

.logo-title {
  font-size: 1.75rem;
  text-transform: uppercase;
}

.logo-subtitle {
  font-size: 0.75rem;
}