section {
  background-color: var(--mat-sys-outline-variant);
  padding-bottom: 135px;
  padding-top: 50px;

  @media (max-width: 992px) {
    padding-bottom: 70px;
  }

  @media (max-width: 768px) {
    padding-bottom: 50px;
  }
}

.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 30px;
}

.promo__filters {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.promo__cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 27px;

  @media (max-width: 768px) {
    gap: 15px;
  }
}

.promo__show-more {
  margin-top: 30px;

  @media (max-width: 992px) {
    margin-top: 15px;
  }
}
