h6 {
  font-family: "Ruda", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: 1px;
  text-transform: uppercase;

  // @media (max-width: 768px) {
  //   font-size: 0.875rem;
  // }
}