@use "@angular/material" as mat;

:host {
  z-index: 2;

  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-neutral10),
      //   container-text-color: red,
    )
  );
}
