:host {
  .tab__content {
    padding-top: 50px;
    font-size: 1rem;
    line-height: 1.6;
  }

  ::ng-deep {
    .mdc-tab {
      @media (max-width: 576px) {
        padding: 0 5px;
      }
    }
  }
}