.container {
  @media (max-width: 768px) {
    padding: 0;
  }
}

.footer-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
  gap: 2%;
  margin-bottom: 30px;
}

app-logo {
  order: 1;
  width: 100%;
  margin-bottom: 30px;

  @media (max-width: 1200px) {
    width: 19%;
    margin-top: 20px;
  }

  @media (max-width: 992px) {
    width: 7%;
  }

  @media (max-width: 768px) {
    padding-left: 15px;
    width: 38%;
  }

  @media (max-width: 576px) {
    padding-right: 15px;
    width: 100%;
  }
}

app-subscribe {
  order: 2;
  width: 29%;

  @media (max-width: 1200px) {
    width: 50%;
    margin-bottom: 30px;
  }

  @media (max-width: 992px) {
    width: 56%;
  }

  @media (max-width: 768px) {
    order: 3;
    width: 100%;
    padding: 24px 0;
    border-top: 2px solid
      color-mix(in srgb, var(--mat-sys-primary-fixed) 10%, transparent 90%);
    border-bottom: 2px solid
      color-mix(in srgb, var(--mat-sys-primary-fixed) 10%, transparent 90%);
  }

  @media (max-width: 576px) {
    margin: 0;
  }
}

app-footer-nav {
  order: 3;
  width: 42%;

  @media (max-width: 1200px) {
    order: 4;
    width: 100%;
  }

  @media (max-width: 576px) {
    margin-top: 24px;
    width: 100%;
  }
}

app-location {
  order: 4;
  // width: 24%;
  width: 240px;

  @media (max-width: 1200px) {
    order: 3;
    margin-bottom: 30px;
  }

  @media (max-width: 992px) {
    // width: 33%;
  }

  @media (max-width: 768px) {
    order: 2;
    // width: 44%;
  }

  @media (max-width: 576px) {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 24px;
  }
}
