h4 {
  font-family: "Ruda", Arial, Helvetica, sans-serif;
  font-size: 1.375rem;
  line-height: 1.2;
  letter-spacing: 2px;
  text-transform: uppercase;

  @media (max-width: 768px) {
    font-size: 1.125rem;
  }
}