:host {
  margin-right: auto;
}

form {
  display: flex;
  align-items: center;
  justify-content: start;
}

mat-form-field {
  --mdc-filled-text-field-container-shape: 0;

  width: 250px;
  height: 50px;
}

button {
  --mdc-filled-button-container-height: 50px;
  --mdc-filled-button-container-color: var(--mat-sys-neutral-variant20);
  --mdc-filled-button-label-text-color: var(--mat-sys-secondary-fixed);

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  min-width: 110px;
}
