:host {
  margin-right: auto;
}

// .search {
//   position: relative;
//   z-index: 2;

//   &.open {
//     .search__body {
//       pointer-events: unset;
//     }
//   }
// }

// .trigger-btn {
// }

// .search__body {
//   min-width: 100%;
//   width: auto;
//   transition: max-height 0.3s ease;
//   pointer-events: none;
//   height: auto;
//   max-height: 0;
//   position: absolute;
//   left: 0;
//   top: 100%;
//   overflow: hidden;
// }

form {
  display: flex;
  align-items: center;
  justify-content: start;
}

mat-form-field {
  --mdc-filled-text-field-container-shape: 0;

  width: 250px;
  height: 50px;
}

button {
  --mdc-filled-button-container-height: 50px;
  --mdc-filled-button-container-color: var(--mat-sys-neutral-variant20);
  --mdc-filled-button-label-text-color: var(--mat-sys-secondary-fixed);
  --mdc-filled-button-container-shape: 10px;

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  min-width: 110px;
}
