// :host {
//   margin-right: auto;
// }

form {
  display: flex;
  align-items: center;
  justify-content: start;
}

mat-form-field {
  --mdc-filled-text-field-container-shape: 0;

  width: 250px;
  height: 50px;

  @media (max-width: 992px) {
    width: 230px;
  }
}

button {
  --mdc-filled-button-container-height: 50px;
  --mdc-filled-button-container-color: var(--mat-sys-neutral-variant20);
  --mdc-filled-button-label-text-color: var(--mat-sys-secondary-fixed);
  --mdc-filled-button-container-shape: 10px;

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  min-width: 110px;

  @media (max-width: 992px) {
    min-width: 100px;
  }
}
