<div class="category">
  <div class="category__header" mat-dialog-title>
    <app-h3-title 
      [text]="'admin.add-category.title' | translate"
    />
    <app-btn-icon 
      iconName="close"
      [tooltipText]="'common.close' | translate"
    />
  </div>
  <form 
    class="category__form"
    [formGroup]="categoryForm"
    (ngSubmit)="onSubmit()"
  >
    <div class="category__names">
      <app-form-control-name 
        [nameControl]="ruNameControl"
        [maxLength]="100"
        [label]="'admin.add-category.ru-name' | translate"
      />

      <app-form-control-name 
        [nameControl]="ukNameControl"
        [maxLength]="100"
        [label]="'admin.add-category.uk-name' | translate"
      />

      <app-form-control-name 
        [nameControl]="enNameControl"
        [maxLength]="100"
        [label]="'admin.add-category.en-name' | translate"
      />
    </div>

    <app-form-control-file 
      [fileControl]="imageFileControl"
    />

    <app-form-control-checkbox
      [checkboxControl]="publishedControl"
      [label]="'admin.add-category.checkbox' | translate"
      [checkboxDisabled]="!formComplete()"
    />

  </form>
</div>