@use 'mixins/castom-scrollbar' as *;

:host {
  border: 1px solid var(--mat-sys-primary);
  
  mat-dialog-container {
    margin: 0 !important;
  }
}

.category__header{
  display: flex;
  align-items: center;
  justify-content: space-between;

  app-h3-title {
    flex: 1;
  }
}

mat-dialog-content {
  @include custom-scrollbar(
    var(--mat-sys-outline),
    var(--mat-sys-primary-container)
  )
}

.category__form {
  padding-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.category__slug-order {
  display: grid;
  grid-template-columns: 1fr 150px;
  gap: 16px;

  .category__order{
    max-width: 150px;
  }

  @media (max-width: 576px) {
    grid-template-columns: 1fr;
  }
}

.category__names {
  display: flex;
  flex-direction: column;
  gap: 16px;
}