// Для скрлолла элементов из ScrollItemsComponent
body.no-select,
html.no-select {
  user-select: none !important;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.mat-icon {
  font-family: "Material Icons Outline";
  color: var(--mat-sys-primary);
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;

  // @media (max-width: 576px) {
  //   padding: 0 10px;
  // }
}

.btn {
  padding: 12px 24px;
  color: #FFFFFF;
  background-color: #63A60F;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 6px;
  transition: all 1s;

  &:hover {
    background-color: #4D810C;
  }
}

.currency {
  margin-left: 2px;
}

// Для выпадающих списков, которые используют OpenMenuDirective
.dropdown-body {
  transition: max-height 0.3s ease;
  overflow: hidden; /* по умолчанию скрыто */
}

/* Кастомный скроллбар */
.dropdown-body::-webkit-scrollbar {
  width: 0;
}

.dropdown-body::-webkit-scrollbar-thumb {
  background-color: transparent;
}
// END Для выпадающих списков, которые используют OpenMenuDirective

// Убрать дефолнтные стрелки у input[type='number']
input[type='number'] {
  /* Firefox */
  -moz-appearance: textfield;
  appearance: textfield;
  
  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
