html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Google Sans', Arial, Helvetica, sans-serif;
}

.mat-icon {
  font-family: "Material Icons Outline";
  color: var(--mat-sys-primary);
}

.containter {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}