html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Google Sans', Arial, Helvetica, sans-serif;
}

.mat-icon {
  font-family: "Material Icons Outline";
  color: var(--mat-sys-primary);
}

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  padding: 12px 24px;
  color: #FFFFFF;
  background-color: #63A60F;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
  border-radius: 6px;
  transition: all 1s;

  &:hover {
    background-color: #4D810C;
  }
}

.currency {
  margin-left: 2px;
}