@use "@angular/material" as mat;

:root {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$magenta-palette,
      ),
      typography: var(--body-font-family),
      density: 0,
    )
  );
}

.green {
  @include mat.theme(
    (
      color: (
        primary: mat.$green-palette,
        tertiary: mat.$spring-green-palette,
      ),
      typography: var(--body-font-family),
      density: 0,
    )
  );
}

.danger {
  @include mat.theme(
    (
      color: (
        primary: mat.$red-palette,
        tertiary: mat.$rose-palette,
      ),
      typography: var(--body-font-family),
      density: 0,
    )
  );
}
