.favs-page {
  padding: 24px 0;
}

.favs-page__title {
  margin-bottom: 24px;
}

.favs-page__empty {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 50px 0;
  text-align: center;
}

.favs-page__grid {
  margin-top: 24px;
  margin-bottom: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;

  @media (max-width: 576px) {
    grid-template-columns: minmax(170px, 1fr) minmax(170px, 1fr);
    gap: 5px;
  }
}

app-loader {
  display: flex;
  justify-content: center;
  padding: 64px 0;
}