:host {
  &.badge-mini {
    .product-card__badges {
      gap: 3px;
    }
  }
}

.product-card__badges {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 6px;
}
