<div class="lang-dr" appOpenMenu >
  <button class="lang-dr__trigger-btn"
  [attr.aria-label]="'header-top.language-dropdown.btn-aria-label' |translate">
    <div class="lang-dr__current-lang">
      <!-- <mat-icon [svgIcon]="langDrService.getLangData(translateService.currentLang).iconPath | matSvgIcon">
      </mat-icon> -->
      <!-- <span>{{langDrService.getLangData(translateService.currentLang).title}}</span> -->
    </div>
    <mat-icon class="carret">arrow_drop_down</mat-icon>
  </button>
  <div class="lang-dr__body dropdown-body">
    <ul class="lang-dr__list dropdown-list">
        <li *ngFor="let lang of (langs$ | async)">
          <button>
          <!-- <mat-icon [svgIcon]="language.iconPath | matSvgIcon"></mat-icon> -->
          <!-- <span>{{language.title}}</span> -->
          <!-- <pre>{{isOpen}}</pre> -->
        </button>
        </li>
      
    </ul>
  </div>
</div>





<!-- <select [value]="currentLang" (change)="changeLang($event)">
  <option
    *ngFor="let lang of (langs$ | async)"
    [value]="lang.name"
  >
    {{ lang.name }}
  </option>
</select> -->


<!-- <div class="lang-dr" appOpenMenu >
  <button class="lang-dr__trigger-btn"
  [attr.aria-label]="'header-top.language-dropdown.btn-aria-label' |translate">
    <div class="lang-dr__current-lang" *ngIf="langDrService.getLanguages()">
      <mat-icon [svgIcon]="langDrService.getLangData(translateService.currentLang).iconPath | matSvgIcon">
      </mat-icon>
      <span>{{langDrService.getLangData(translateService.currentLang).title}}</span>
    </div>
    <mat-icon class="carret" [svgIcon]="'./assets/images/common/carret-down.svg' | matSvgIcon"></mat-icon>
  </button>
  <div class="lang-dr__body dropdown-body">
    <ul class="lang-dr__list dropdown-list">
      <li *ngFor="let language of langDrService.getLanguages()">
        <button [attr.data-abbr]="language.abbr" (click)="useLang(language.abbr)"
          [class.active]="translateService.currentLang === language.abbr">
          <mat-icon [svgIcon]="language.iconPath | matSvgIcon"></mat-icon>
          <span>{{language.title}}</span>
          <pre>{{isOpen}}</pre>
        </button>
      </li>
    </ul>
  </div>
</div> -->