@use "./styles/dropdown-button.scss";
@use "./styles/dropdown-body.scss";

.lang-dr {
  position: relative;
  margin-right: 10px;

  &.open {
    .lang-dr__body {
      pointer-events: unset;
    }

    .carret {
      transform: rotate(180deg);
    }
  }
}