.container {
  padding: 0;

  @media (max-width: 576px) {
    padding: 0 15px;
  }
}

.location {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 18px;

  @media (max-width: 576px) {
    align-items: center;
  }
}

.location__address,
.location__hotline{
  color: inherit;
  font-size: 0.875rem;
  line-height: 1.4;
  text-decoration: none;
}

.location__hotline {
  &:hover {
    color: var(--mat-sys-primary-fixed-dim);
  }
}

.location__address {
  text-transform: capitalize;
}
