@use '@angular/material' as mat;

:host {
    @include mat.badge-overrides((
    background-color: var(--mat-sys-secondary-fixed),
    text-color: red,
  ));
}

.mini-fab__btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.mini-fab__text {
  white-space: nowrap;
  font-weight: 600;
}