<button
  type="button"
  mat-mini-fab
  [attr.aria-label]="ariaLabel"
  [matBadge]="count"
  [matBadgeHidden]="count == 0 ? true : isBadgeHidden"
  [matBadgePosition]="badgePosition"
  [matTooltip]="tooltipText"
  [matTooltipShowDelay]="tooltipShowDelay"
  [style.--mdc-fab-small-container-shape]="borderRadius"
  [ngStyle]="{
    width: width,
    height: width,
    border: btnBorder,
    '--mdc-fab-small-container-color': bgColor
    
  }"
>
  @if(iconName) {
    <mat-icon
      [ngStyle]="{ 
        color: iconColor, 
        fontSize: fz,
      }"
      >{{ iconName }}</mat-icon
    >
  }

  @if(btnText) {
    <span>{{btnText}}</span>
  }
</button>
