<div class="pcc">
  <app-product-badges 
    [product]="cartItem()"
    [isCart]="true"
  />
  
  <div class="pcc__content">
    <app-product-image 
      [product]="cartItem()"
      width="100"
      height="100"
      cardType="mini"
    />

    <h3 class="product-card__title">
      {{ cartItem().i18n[currentLang()].description }}
    </h3>

    <app-product-delete-btn 
      [productId]="cartItem().productId"
    />
  </div>

  <div class="pcc__bottom">
    <app-counter 
      (quantityChange)="quantityChanged$.next($event)"
      [quantity]="cartItem().quantity"
    />

    <app-product-price 
      [product]="cartItem()" 
      class="price-row"
    />

    <div class="pcc__total">
      <span>{{'common.total' | translate}}</span>
      <span>{{totalCardPrice()}}₴</span>
    </div>

  </div> 
</div>
