.product__status {
  text-transform: uppercase;
  font-size: 0.625rem;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.3px;

  &.in-stock {
    color: var(--mat-sys-primary-fixed-dim)
  }

  &.low-stock {
    color: var(--mat-sys-error)
  }

  &.out-of-stock {
    opacity: 0.6;
  }
}