:host {
  &.disabled {
    pointer-events: none;
    opacity: 0.5;
    mat-icon {
      color: var(--mat-sys-outline);
    }
  }
  button {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    mat-icon {
      width: auto;
      height: auto;
    }
  }
}