<div class="avatar-upload">
  <input 
    #fileSelector
    class="avatar-upload__input"
    type="file" 
    (change)="onFileSelected($event)" 
    accept="image/*" 
  />

  <div class="avatar-upload__img">
    @if(isUploading()) {
      <app-loader />
    } @else {
      @if(imageService.avatarUrl()) {
        <img 
          class="avatar-upload__img"
          [src]="imageService.avatarUrl()" 
          alt="Avatar"
          width="250"
          height="250"
        >
      } @else {
        <mat-icon>person</mat-icon>
      }
    } 
  </div> 

  <div class="avatar-upload__actions">
    <app-btn-icon 
      class="avatar-upload__btn avatar-upload__btn--edit"
      [tooltipText]="'common.edit' | translate"
      iconName="edit"
      (click)="clickInput()"
    />
      <app-btn-icon 
        class="avatar-upload__btn avatar-upload__btn--delete"
        [tooltipText]="'common.delete' | translate"
        iconName="delete"
        [btnDisabled]="!imageService.avatarUrl()"
        (click)="deleteAvatar()"
      />
  </div>

</div>
