.avatar-upload {
  max-width: 200px;
}

.avatar-upload__input {
  position: absolute;
  width: 0;
  height: 0;
  left: -9999px;
  top: -9999px;
  opacity: 0;
  visibility: hidden;
  // pointer-events: none;
}

.avatar-upload__img {
  position: relative;
  border-radius: 50%;
  background-color: var(--mat-sys-on-primary);
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;

  mat-icon {
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12.5rem;
    color: var(--mat-sys-secondary)
  } 
}

.avatar-upload__actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}