@let newsItems = ('homepage.news.newsItems' | translate);

<section class="news">
	<div class="container">
		<div class="news__header">
			<app-h2-title 
				class="news__title"
				[text]="'homepage.news.title' | translate"
			/>
	
			<a 
				class="news__link"
				[routerLink]="'homepage.news.route-page' | translate"
			>
				{{'homepage.news.all-new' | translate}}
			</a>
		</div>
	
		<div class="news__items">
			@for(newsItem of newsItems; track $index) {
				<app-news-card [newsItem]="newsItem"/>
			}
		</div>
	</div>
</section>
