.news {
  padding: 70px 0;
}

.news__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  .news__title{
    font-family: 'Ruda', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    line-height: 1.4;
    letter-spacing: 3%;
  }

  .news__link{
    position: relative;
    font-weight: 700;
    font-size: 0.75rem;
    top: 0;
    transform: top 0.2s;

    color: var(--mat-sys-primary);
    text-decoration: underline 2px;
    text-underline-offset: 5px;

    &:hover {
      top: -2px;
    }
  }
}

.news__items{
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 30px;
}