<lib-ngx-carousel 
	class="green"
	[slides]="sponsors()"
	[config]="config"
>
	<ng-template #slideTemplate let-slide>
		<app-sponsors-slide [sponsor]="slide"/>
	</ng-template>

	<!-- 
		Передаем в карусель кастомную кнопку остановки/запуска карусели.

		Здесь применены оба сервиса autoplay и nonStop только для наглядности
		На самом деле, лоя этой ситуации, достаточно было бы только nonStop
		так как эта карусель безостановочная.
	-->
	<ng-template 
		#stopBtn
		let-autoplay="autoplay"
		let-nonStop="nonStop"
	>
		<app-mini-fab-btn
			[iconName]="
				nonStop.rafId
					? 'pause'
					: 'play_arrow'
			"
			[ariaLabel]="
				nonStop.rafId
					? 'Pause carousel'
					: 'Play carousel'
			"
			[tooltipText]="
				nonStop.rafId
					? 'Pause carousel'
					: 'Play carousel'
			"
			(click)="autoplay.toggle(); nonStop.toggle()"
			[isBadgeHidden]="true"
			iconColor="var(--mat-sys-on-secondary-container)"
		/>
	</ng-template>
</lib-ngx-carousel>
