<div class="pcl">
  <app-product-badges [product]="product()" />

  <app-product-image 
    [product]="product()" 
    width="200"
    height="144"
  />

  <div class="pcl__content">
    <div class="pcl__top">
      <app-product-status [status]="product().stock" />
      <app-product-rate [rate]="product().rate" />
    </div>

    <div class="pcl__middle">
      <h3 class="product-card__title">
        {{ product().i18n[currentLang()].description }}
      </h3>
      <app-product-fav-btn [product]="product()" />
    </div>

    <div class="pcl__bottom">
      <app-product-price [product]="product()" />

      <app-counter 
        (quantityChange)="onQuantityChange($event)"
      />

      <app-product-cart-btn 
        [product]="product()" 
        [quantity]="currentQuantity()"
      />
    </div>
  </div>
</div>
