 @use '@angular/material' as mat;

  .edit-date {
    position: relative;
    border: 1px solid var(--mat-sys-primary);
    border-radius: 28px;

    .edit-date__close{
      position: absolute;
      top: 10px;
      right: 5px;
    }

    mat-form-field {
      width: 100%;

      .mat-mdc-form-field-subscript-wrapper {
        min-height: 40px;
      }
    }

    mat-dialog-actions {
      gap: 16px;
    }

    @include mat.dialog-overrides(( 
      container-min-width: '300px',
    ));
  }