<div class="edit-date">
  <app-h3-title 
    mat-dialog-title 
    [text]="'common.forms.datePicker.edit-date' | translate"
  />

  <app-btn-icon 
    class="edit-date__close"
    iconName="close"
    [ariaLabel]="'common.close' | translate"
    [tooltipText]="'common.close' | translate"
    (click)="dialogRef.close()"
  />

  <mat-dialog-content align="center" >
    <mat-form-field appearance="outline" class="masked-field">
      <input 
        matInput 
        #inputRef 
        autofocus
        placeholder="MM / DD / YY"
        [mask]="'00 / 00 / 00'"
        [dropSpecialCharacters]="false"
        [showMaskTyped]="true"
        [placeHolderCharacter]="'_'"
        [formControl]="inputControl"
        (input)="onInput()"
        (keydown)="onKeyDown($event)"
        (keydown.enter)="applyDate()" 
      />
   
      <mat-hint>
        {{'common.forms.datePicker.hint' | translate}}
      </mat-hint>
  
      @if(inputControl.hasError('invalidDate') && inputControl.touched) {
        <mat-error>
          {{'common.forms.datePicker.invalid-date' | translate}}
        </mat-error>
      }
      @if(inputControl.hasError('futureDate') && inputControl.touched) {
        <mat-error>
          {{'common.forms.datePicker.future-date' | translate}}
        </mat-error>
      }
      @if(inputControl.hasError('pastDate') && inputControl.touched) {
        <mat-error>
          {{'common.forms.datePicker.past-date' | translate}}
        </mat-error>
      }
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <app-btn-flat 
      [btnText]="'common.cancel' | translate" 
      (click)="dialogRef.close()" 
    />
    <app-btn-flat 
      [btnText]="'common.save' | translate" 
      [btnDisabled]="!inputControl.valid" 
      (click)="applyDate()"
    />
  </mat-dialog-actions>

</div>
