.product-card {
  // border: 1px solid var(--mat-sys-primary-container);
  box-shadow: 0 0 0 1px var(--mat-sys-on-tertiary-container);
  border-radius: 6px;
  padding: 18px 12px;
}

.product-card__header {
  display: flex;
  align-items: center;
  justify-content: start;
}

.product-card__badges {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	gap: 6px;

	.product-card__badge {
		padding: 3px 6px;
		border-radius: 6px;
		color: #fff;
		font-size: 0.625rem;
		line-height: 1;
		font-weight: 700;
		letter-spacing: 1px;
	}
}

.product-card__content{
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	gap: 10px;
}

.product-card__title {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.4;
  letter-spacing: 0.5px;
}

.product-card__footer{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.product-card__counter{
	display: flex;
	align-items: center;
	justify-content: start;
	gap: 0;
}
