.product-card {
	// border: 2px solid var(--mat-sys-primary-container);
	border: 1px solid var(--mat-sys-on-tertiary-container);
	// box-shadow: 0 0 0 1px var(--mat-sys-on-tertiary-container);
	width: 300px;
	border-radius: 10px;
	padding: 18px 0;
	transition: box-shadow 0.2s;
	display: flex;
	flex-direction: column;
	gap: 8px;

	&:hover {
		box-shadow: 0 0 2px 1px var(--mat-sys-on-tertiary-container);
	}
}

.product-card__header {
	display: flex;
	align-items: start;
	justify-content: start;
	padding: 0 12px;
}

.product-card__badges {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	gap: 6px;

	.product-card__badge {
		padding: 3px 6px;
		border-radius: 6px;
		color: var(--mat-sys-on-background);
		background-color: var(--mat-sys-primary-container);
		background-color: var(--mat-sys-inverse-primary);
		font-size: 0.625rem;
		line-height: 1;
		font-weight: 700;
		letter-spacing: 1px;
	}
}

.product-card__fav {
	margin-left: auto;
}

.product-card__img-wrapper {
	position: relative;
	width: 100%;
	height: 215px;
	transition: opacity 0.3s;

	&:hover {
		transition: opacity 0.3s;

		.product-card__link {
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
			transition: opacity 0.3s;
		}
	}

	img {
		width: 100%;
		height: 100%;
	}

	.product-card__link {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		inset: 0;
		background-color: rgba(0, 0, 0, 0.4);
		opacity: 0;
		// visibility: hidden;
		pointer-events: none;
		transition: opacity 0.3s;

		.product-card__svg-wrapper {
			background-color: #fff;
			border-radius: 50%;
			padding: 14px;
			fill: var(--mat-sys-primary-container);
		}
	}
}

.product-card__content {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	gap: 10px;
	padding: 0 12px;
}

.product-card__content-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.product-card__title {
	font-weight: 600;
	font-size: 0.875rem;
	line-height: 1.4;
	letter-spacing: 0.5px;
}

.product-card__footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 12px;
}

.product-card__footer-right {
	display: flex;
	align-items: center;
	gap: 24px;
}

