<div class="mini">
  <app-product-badge 
		class="badge-mini"
		[product]="product()"
		[showDiscount]="false"
	/>

	<app-product-image
		[product]="product()"
		width="100"
		height="100"
		cardType="mini"
	/>

	<div class="mini__content">
		<h3 class="mini__title" >
			{{product().i18n[currentLang()].description}}
		</h3>

		<app-product-status [status]="product().stock"/>

		<div class="mini__footer">
			<app-product-price 
				class="price-row"
				[product]="product()" 
			/>
			<app-product-rate [rate]="product().rate" />
		</div>
	</div>
</div>