@let translations = ('common' | translate);

<div class="register-popup">
  <app-btn-icon 
    iconName="close"
    (click)="dialogRef.close()"
    [tooltipText]="translations.close"
  />

  <mat-dialog-content>
    <div class="register-popup__content">
      <div class="register-popup__hero">
        <img 
          [src]="heroImg" 
          alt="hero"
          width="171"
          height="450"
        >
      </div>
    
      <app-register 
        (openLoginPopup)="goToLoginPopup()"
        (closePopup)="dialogRef.close()"
        [isPopup]="true"
      />
    </div>
  </mat-dialog-content>
</div>
