@use 'mixins/castom-scrollbar' as *;

.categories-list {
  max-height: 300px;
  padding-top: 20px;
  overflow-y: auto;

  @include custom-scrollbar(
    var(--mat-sys-outline),
    var(--mat-sys-primary-container))
}