.container {
  padding: 0;

  @media (max-width: 576px) {
    padding: 0 15px;
  }
}

.subscribe{
  display: flex;
  flex-direction: column;
  gap: 18px;

  @media (max-width: 1200px) {
    width: 365px;
    margin: auto;;
  }

  @media (max-width: 992px) {
    width: 345px;
  }

  @media (max-width: 768px) {
    width: auto;
    max-width: 530px;
  }
}

form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-form-field {
  --mdc-filled-text-field-container-shape: 0;

  width: 100%;
  max-width: 250px;
  height: 50px;

  @media (max-width: 992px) {
    max-width: 230px;
  }

  @media (max-width: 768px) {
    max-width: 426px;
  }
}

button {
  --mdc-filled-button-container-height: 50px;
  --mdc-filled-button-container-color: var(--mat-sys-primary-container);
  --mdc-filled-button-label-text-color: var(--mat-sys-secondary-fixed);
  --mdc-filled-button-container-shape: 10px;

  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  min-width: 110px;

  @media (max-width: 992px) {
    min-width: 100px;
  }
}