@let translattes = ('products-page.filters' | translate);

<div class="fiters">
  <mat-accordion class="fiters__categories" multi>
    <mat-expansion-panel [expanded]="true">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <app-h3-title 
            [text]="translattes.categories.title"
          />
        </mat-panel-title>
      </mat-expansion-panel-header>

      <ul class="fiters__categories-list">
        @for(category of categories(); track category.id) {
          <li class="fiters__categories-item">
            <app-btn-raised 
              class="fiters__categories-btn accordion"
              [btnText]="category.name[currentLang()]"
            />
          </li>
        }
      </ul>
    </mat-expansion-panel>
  </mat-accordion>
</div>
