.fiters {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 100%;
  border: 1px solid red;
}

.fiters__categories-list {
  max-height: 300px;
  overflow-y: auto;
}

::ng-deep {
  .fiters__categories {
    .mat-expansion-panel-body {
      padding: 0;
    }
  }
}
