<div class="more" appOpenMenu>
  <app-mini-fab-btn 
    iconName="more_vert"
    [isBadgeHidden]="true"
    iconColor="var(--mat-sys-on-secondary-container)"
  />

  <div class="more__body dropdown-body">
    <ul class="more__list dropdown-list">
        <li class="more__item">
          <app-show-catalog-btn class="elem-toggle"/>
        </li>
        <li class="more__item">
          <app-show-search-btn class="elem-toggle"/>
        </li>
        <li class="more__item"><app-profile-btn /></li>
        <li class="more__item"><app-favs-btn /></li>
    </ul>
  </div>
</div>
