@if (pagination().totalPages > 1) {
  <nav class="pagination" aria-label="Pagination">
    <!-- Previous Button -->
    <app-mini-fab-btn
      width="32px"
      iconName="chevron_left"
      (click)="prev()"
      [btnDisabled]="!hasPrevious()"
      [ariaLabel]="'Previous page'"
    />

    <!-- Page Numbers -->
    @for (page of visiblePages(); track $index) {
      @if(page === '...') {
        <app-mini-fab-btn 
          width="32px"
          class="pagination__ellipsis"
          btnText="..."
          aria-hidden="true"
          bgColor="transparent"
          btnBorder="2px solid var(--mat-sys-primary-container)"
        />
      } @else {
        <app-mini-fab-btn
          width="32px"
          [class.active]="pagination().currentPage == +page"
          [btnText]="page"
          (click)="goTo(page)"
          [bgColor]="
            currentPage() == +page
              ? 'var(----mat-sys-primary)'
              : 'transparent'
            "
          btnBorder="2px solid var(--mat-sys-primary-container)"
          [attr.aria-label]="'Go to page ' + page"
          [attr.aria-current]="
            currentPage() == +page 
              ? page 
              : null
            "
        />
      }
    }

    <!-- Next Button -->
    <app-mini-fab-btn
      width="32px"
      iconName="chevron_right"
      (click)="next()"
      [btnDisabled]="!hasNext()"
      [ariaLabel]="'Next page'"
    />
  </nav>
}
