<mat-card appearance="outlined">
  @if(isLoading()) {
     <app-loader />
  } @else {
    <mat-card-header>
      <mat-card-title>
        <app-h5-title
          class="two-lines"
          [text]="category().name[currentLang()]"
        />
      </mat-card-title>
      <app-menu class="icon-menu" [options]="menuOptions()"/>
    </mat-card-header>
    <div class="category-card__img">
      <a 
        class="category-card__link"
        [routerLink]="['/', currentLang(), 'admin', 'goods', 'category', category().slug]"
      ></a>
      @if(categoryImg()) {
        <img 
          mat-card-image 
          [src]="categoryImg()" 
          [alt]="category().name[currentLang()]"
        >
      } @else {
        <mat-icon>image_not_supported</mat-icon>
      }
    </div>
  }
</mat-card>
