mat-card {
  width: 250px;
  height: auto;

  &:hover {
    border: 1px solid var(--mat-sys-primary);
  }

  app-loader {
    height: 242px;
  }

  mat-card-header{
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
  }

  .category-card__img {
    position: relative;
    background-color: var(--mat-sys-secondary);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    margin: 16px;
    max-width: 100%;
    padding: 5px;

    img {
      width: 100%;
      height: 100%;
    }

    .category-card__link {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }
}

.mat-icon {
  width: 100%;
  height: 100%;
  margin: auto;
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
}