.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding-top: 20px;
}


mat-slider {
  --mdc-slider-inactive-track-color: var(--mat-sys-secondary);

  margin: auto;
  width: 100%;
  max-width: 80%;
}