@use "@angular/material" as mat;

.price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 100%;
  padding: 20px 16px 0;
}

mat-slider {
  --mdc-slider-inactive-track-color: var(--mat-sys-secondary);

  margin: auto;
  width: 100%;
  max-width: 90%;
}

.price__numbers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.price__from,
.price__to {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 6px;

  @media (max-width: 992px) {
    flex-wrap: wrap;
  }

  .price__text-before {
    @media (max-width: 992px) {
      width: 100%;
    }
  }

  mat-form-field {
    --mdc-filled-text-field-container-shape: 0;
    --mat-form-field-container-vertical-padding: 0;

    width: 100%;
    max-width: 70px;

    @include mat.form-field-overrides((container-height: 30px,
        container-text-line-height: 30px,
      ));

    input {
      text-align: center;
    }
  }

  // Обнуляем боковые padding у input
  ::ng-deep mat-form-field .mdc-text-field {
    padding: 0;
  }
}