@let translations = ('products-page.filters.price' | translate);

<app-expantion-panel 
  [title]="translations.title"
>
  <div class="price">
    <mat-slider 
      [min]="range().min" 
      [max]="range().max"
    >
      <input 
        [(ngModel)]="range().start" 
        (ngModelChange)="onStartValueChange($event)"
        matSliderStartThumb 
        (dragStart)="onDragStart()"
        (dragEnd)="onDragEnd()"
      />
      <input 
        [(ngModel)]="range().end" 
        (ngModelChange)="onEndValueChanged($event)"
        matSliderEndThumb 
        (dragStart)="onDragStart()"
        (dragEnd)="onDragEnd()"
      />
    </mat-slider>

    <div class="price__numbers">
      <div class="price__from">
        <span class="price__text-before">{{translations.from}}</span>
        <mat-form-field class="no-subscript">
          <input 
            matInput 
            type="number" 
            [(ngModel)]="range().start"
            (ngModelChange)="onStartValueChange($event)"
            [min]="range().min"
            [max]="range().max"
            (focus)="onInputFocus()"
            (blur)="onInputBlur()"
          />
        </mat-form-field>
        <span>₴</span>
      </div>

      <div class="price__to">
        <span class="price__text-before">{{translations.to}}</span>
        <mat-form-field class="no-subscript">
          <input 
            matInput 
            type="number" 
            [(ngModel)]="range().end"
            (ngModelChange)="onEndValueChanged($event)"
            [min]="range().min"
            [max]="range().max"
            (focus)="onInputFocus()"
            (blur)="onInputBlur()"
          />
        </mat-form-field>
        <span>₴</span>
      </div>

    </div>
  </div>
</app-expantion-panel>
