<div class="admin-product">
  <div class="admin-product__header" mat-dialog-title>
    <app-h3-title 
      [text]="isEditMode() 
       ? ('admin.goods.product.edit-product' | translate)
       : ('admin.goods.product.create-product' | translate)"
    />
    <app-btn-icon 
      iconName="close"
      [tooltipText]="'common.close' | translate"
      (click)="dialogRef.close()"
    />
  </div>

  <mat-dialog-content>
    <app-product-slides 
      [product]="product()"
    />
  </mat-dialog-content>
</div>
