.stars {
  display: flex;
  align-items: center;
  gap: 10px;
}

.stars__view {
  display: flex;
  gap: 6px;
}

.mat-icon {
  color: lightgray;

  &.active {
    background: linear-gradient(90deg, gold var(--fill-percentage), lightgray var(--fill-percentage)); 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    background-clip: text;
    color: transparent;
  }
}

.stars__rate {
  font-size: 1.25rem;
  font-weight: 600;
}