.stars {
  display: flex;
  gap: 6px;
}

.mat-icon {
  color: gray;

  &.active {
    color: yellow
  }
}

// .mat-icon {
//   color: gray;

  // &.active {
  //   background: linear-gradient(90deg, gold 50%, #ccc 50%); 
  //   -webkit-background-clip: text; 
  //   -webkit-text-fill-color: transparent; 
  //   background-clip: text; /* для Firefox */ 
  //   color: transparent; /* обязательно для Firefox */
  // }
// }