<h2 mat-calendar-title>
  <div class="calendar-edit">
    <app-btn-icon 
      iconName="edit" 
      (click)="openDialogEditDate()"
    />
  </div>
</h2>
<mat-dialog-content>
  <!-- <mat-card> -->
    <mat-calendar
      [(selected)]="selected"
      [maxDate]="maxDate"
    >
    </mat-calendar>
  <!-- </mat-card> -->
</mat-dialog-content>

<mat-dialog-actions>
  <app-btn-raised 
    [btnText]="'common.close' | translate"
    (click)="dialogRef.close()"
  />
  <app-btn-raised 
    [btnText]="'common.save' | translate"
    [btnDisabled]="!selected()" 
    (click)="saveDate()"
  />
</mat-dialog-actions>
