<div class="datepicker">
  <mat-dialog-content>
    <mat-calendar
      #calendar
      [(selected)]="selected"
      [maxDate]="maxDate ?? null"
      [minDate]="minDate ?? null"
    >
    </mat-calendar>
  </mat-dialog-content>
  
  <mat-dialog-actions>
    <app-mini-fab-btn 
      iconName="edit" 
      (click)="openDialogEditDate()"
      [tooltipText]="'common.forms.datePicker.edit-date' | translate"
    />
    <app-btn-raised 
      [btnText]="'common.close' | translate"
      (click)="dialogRef.close()"
    />
    <app-btn-raised 
      [btnText]="'common.apply' | translate"
      [btnDisabled]="!selected()" 
      (click)="saveDate()"
    />
  </mat-dialog-actions>
</div>

