.review__form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 24px;
}

.review__fields {
  display: flex;
  align-items: stretch;
  gap: 30px;
  width: 100%;

  .review__left{
    width: 100%;
  }
}

.review__control {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.review__label {
  font-size: 1rem;
  line-height: 1.3;
}