.catalog__trigger-btn {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  border: none;
  background-color: var(--mat-sys-secondary-fixed);
  color: var(--mat-sys-on-primary-fixed-variant);
  width: 100%;
  padding: 0 15px;
  border-radius: 8px;
  transition: background-color 0.3s ease, border-bottom-left-radius 0.3s ease, border-bottom-right-radius 0.3s ease;

  &:hover {
    background-color: var(--mat-sys-secondary-fixed-dim);
  }

  .catalog__btn-text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;

    mat-icon {
      color: var(--mat-sys-on-primary-fixed-variant);
    }
  }

}

.carret {
  color: var(--mat-sys-on-primary-fixed-variant);
  transform: rotate(0);
  transition: transform 0.3s ease;
}