.user-avatar {
  .user-avatar__btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: conic-gradient(
      #34a353 0deg 90deg,
      #fbbc05 90deg 180deg,
      #ea4335 180deg 270deg,
      #4280ef 270deg 360deg
    );
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .user-avatar__bg {
    background-color: var(--mat-sys-neutral10);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: grid;
    place-content: center;
    flex: 0 0 36px;

    img,
    .mat-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      font-size: 38px;
      border-radius: 50%;
    }
  }
}

.user-avatar__tooltip {
  white-space: pre-line; // Учитывает \n как переносы, но игнорирует лишние пробелы. Нужен, чтобы в tooltip отработали переносы строк

  .mat-mdc-tooltip-surface {
    text-align: left;
  }
}
