<article 
  class="banner"
  [ngStyle]="{
    backgroundImage: `url(${banner().publicId})`,
    color: banner().textColor,
  }"
>
  <div class="banner__announcement">
    {{banner().translations[currentLang()].announcement}}
  </div>
  <div class="banner__title">
    {{banner().translations[currentLang()].title}}
  </div>
  <div class="banner__subtitle">
    {{banner().translations[currentLang()].subtitle}}
  </div>
  <a 
    class="banner__link" 
    [routerLink]="routerLink().path"
    [queryParams]="routerLink().queryParams"
  >
    {{banner().translations[currentLang()].buttonText}}
  </a>
</article>