.banner {
  padding: 79px 30px;
  border-radius: 8px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);

  @media (max-width: 576px) {
    padding-left: 15px;
    padding-bottom: 30px;
  }
}

.banner__announcement {
  font-size: 0.75rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 18px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
}

.banner__title,
.banner__subtitle {
  font-family: 'Ruda', Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 1.4;

  @media (max-width: 1200px) {
    font-size: 1.625rem;
  }

  @media (max-width: 576px) {
    font-size: 1.5rem;
  }
}

.banner__subtitle {
  margin-bottom: 12px;

  @media (max-width: 576px) {
    margin-bottom: 77px;
  }
}

.banner__link {
  position: relative;
  top: 0;
  color: inherit;
  font-weight: 700;
  font-size: 0.875rem;
  text-decoration: underline 2px;
  text-underline-offset: 5px;
  transition: top 0.2s;

  &:hover {
    top: -2px
  }
}