.review {
  position: relative;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  border: 1px solid var(--mat-sys-primary);
  border-radius: 30px;

}

.review__close{
  position: absolute;
  top: 10px;
  right: 10px;
}