<div class="crop">
    <app-h2-title 
      mat-dialog-title
      class="crop__title"
      [text]="'Crop avatar'"
    />

    <mat-dialog-content>
      <div (wheel)="onWheel($event)" class="crop__area">
        <image-cropper
          [imageChangedEvent]="imageChangedEvent"
          [roundCropper]="true"
          [maintainAspectRatio]="true"
          [aspectRatio]="1"
          format="png"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded($event)"
          (cropperReady)="cropperReady()"
          (loadImageFailed)="loadImageFailed()"
          [transform]="transform"
        />
      </div>
    </mat-dialog-content>

    <mat-dialog-actions>
      <app-btn-raised 
        (click)="crop()"
        btnText="Crop"
        [btnDisabled]="!imageChangedEvent"
      />
      <app-btn-raised 
        (click)="dialogRef.close()"
        btnText="Cancel"
      />
    </mat-dialog-actions>
</div>
