
  a {
    color: var(--white);
  }
  
  .logo-title {
    font-family: "Ruda", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 1.2;
    display: block;
    text-transform: uppercase;
  }
  
  .logo-subtitle {
    font-family: "Ruda", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.2;
    width: 100%;
    display: block;
    text-align: center;
  }

