<div class="product-content">
  @if(product$().isActive) {
    <app-h2-title 
      [text]="product$().i18n[currentLang()].name"
    />

    <div class="product-content__badges">
      @for(badge of product$().badges; track $index) {
        <app-badge 
          class="big"
          [badge]="badge"
          [discountPercent]="product$().discountPercent || 0"
        />
      }
    </div>

    <div class="product-content__info">
      <div class="product-content__info-left">
        <app-product-code
          [code]="product$().code"
        />
        <app-product-stars
          [starsCount]="productRate()"
        />
      </div>
      <div class="product-content__info-right">
        <app-product-status 
          class="big"
          [status]="product$().stock"
        />
      </div>
    </div>

    <app-product-price
      class="big"
      [product]="product$()"
    />

    <div class="product-content__actions">
      <app-counter 
        size="big"
        (quantityChange)="onQuantityChange($event)"
      />

      <app-product-cart-btn 
        size="big" 
        [product]="product$()"
        [quantity]="currentQuantity()"
      />

      <app-product-fav-btn 
        size="big" 
        [product]="product$()"
      />
    </div>

    <app-delivery-and-payment />
  }
  
</div>
