:host {
  flex: 1;
}

.product-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 30px;
}

app-h2-title {
  @media (max-width: 768px) {
    display: none;
  }
}

.product-content__badges {
  display: flex;
  align-items: center;
  gap: 16px;
}

.product-content__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: start;
    gap: 24px;
  }

  @media (max-width: 768px) {
    flex-direction: row;
    align-items: center;
  }

  @media (max-width: 576px) {
    flex-direction: column;
    align-items: start;
  }
}

.product-content__info-left {
  display: flex;
  align-items: center;
  gap: 30px;
  flex: 1;
}

app-product-price{
  margin-bottom: 44px;

  @media (max-width: 1024px) {
    margin-bottom: 6px;
  }
}

.product-content__actions {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 6px;

  @media (max-width: 1280px) {
    gap: 16px;
  }
}

app-product-cart-btn {
  flex: 1;
}