:host {
  flex: 1;
}

.product-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.product-content__badges {
  display: flex;
  align-items: center;
  gap: 16px;
}

.product-content__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.product-content__info-left {
  display: flex;
  align-items: center;
  gap: 30px;
  flex: 1;
}

.product-content__actions {
  display: flex;
  align-items: center;
  gap: 24px;

  @media (max-width: 1280px) {
    gap: 16px;
  }
}

app-product-cart-btn {
  flex: 1;
}