:host {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card {
  border: 1px solid var(--mat-sys-on-tertiary-container);
  max-width: 300px;
  min-width: 170px;
  border-radius: 10px;
  padding: 18px 0;
  transition: box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  gap: 8px;

  &:hover {
    box-shadow: 0 0 2px 1px var(--mat-sys-on-tertiary-container);
  }

  @media (max-width: 576px) {
    padding: 12px 0;
    gap: 12px;
  }
}

.product-card__header {
  display: flex;
  align-items: start;
  justify-content: start;
  padding: 0 12px;
}

app-product-fav-btn {
  margin-left: auto;
}

.product-card__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 10px;
  padding: 0 12px;
}

.product-card__content-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-card__title {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.4;
  letter-spacing: 0.5px;
  min-height: 60px;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.product-card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0 12px;

  app-product-price {
    order: 1;

    @media (max-width: 576px) {
      order: 2;
    }
  }

  app-counter {
    order: 2;

    @media (max-width: 576px) {
      order: 1;
      width: 100%;
    }
  }

  app-product-cart-btn {
    order: 3;
  }
}


