<div class="product-card green">
  <div class="product-card__header">
    <app-product-badge [product]="product()" />
    <app-product-fav-btn [productId]="product().id" />
  </div>

  <app-product-image [product]="product()" />

  <div class="product-card__content">
    @if (withStockAndRate()) {
      <div class="product-card__content-top">
        <app-product-status [status]="product().stock" />
        <app-product-rate [rate]="product().rate" />
      </div>
    }

    <h3 class="product-card__title">
      {{ product().i18n[currentLang()].description }}
    </h3>
  </div>

  <div class="product-card__footer">
    <app-product-price [product]="product()" />
    <app-counter />
    <app-product-cart-btn [product]="product()" />
  </div>
</div>
