:host {
  &.price-row {
    .product-card__price {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: start;
      gap: 8px;
    }

    .product-card__price-origin {
      font-size: 0.875rem;
      font-weight: 600;
      line-height: 1;
      letter-spacing: 0.5px;

      &.cross {
        font-size: 0.75rem;
        line-height: 1;
        letter-spacing: 0.3px;
      }
    }

    .product-card__price-discount{
      font-size: 0.875rem;
      font-weight: 600;
      line-height: 1;
      letter-spacing: 0.5px;
    }
  }
}

.product-card__price {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 3px;
  font-size: 0.875rem;
  letter-spacing: 0.5px;
}

.product-card__price-origin {
  &.cross {
    position: relative;
    display: inline-block;
    opacity: 0.5;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        to bottom right,
        transparent calc(50% - 1px),
        var(--mat-sys-on-background) calc(50%),
        transparent calc(50% + 1px)
      );
      pointer-events: none;
    }
  }
}
