@let dbUser = (dbUser$ | async);

<mat-card 
  class="avatar-popup green"
  appearance="outlined"
>
  <app-btn-icon 
    class="avatar-popup__close"
    iconName="close" 
    [tooltipText]="'common.close' | translate"
    [ariaLabel]="'common.close' | translate" 
    (click)="closePopup.emit()"
  />

  <mat-card-header class="avatar-popup__header">
    <span>{{authUser().email}}</span>
  </mat-card-header>
  
  <mat-card-content class="avatar-popup__content">
    @if(dbUser?.avatarId) {
      <img 
        draggable="false"
        [src]="mediaUrl + dbUser?.avatarId"
        [alt]="'header.user.alt' | translate"
        width="100"
        height="100"
      >
    } @else if (authUser().photoURL) {
      <img 
        draggable="false"
        [src]="authUser().photoURL"
        [alt]="'header.user.alt' | translate"
      >
    } @else {
      <mat-icon>person</mat-icon>
    }

    <p>{{'header.user.greetings' | translate : ({name: authUser().displayName})}}</p>

    <app-btn-flat 
      class="light"
      [btnText]="'common.logout' | translate"
      iconName="logout"
      iconColor="var(--mat-sys-on-background)"
      borderRarius="6px"
      (click)="logout.emit()"
    />
  </mat-card-content>

  <mat-card-actions class="avatar-popup__actions">
      <a 
        [href]="privacyLink" 
        rel='noopener noreferrer'
        target="_blank" 
        class="policy-link"
      >
        {{ 'header.user.privacy' | translate }}
      </a>

      <span class="policy-divider">•</span>

      <a 
        [href]="termsLink" 
        rel='noopener noreferrer'
        target="_blank" 
        class="policy-link"
      >
      {{ 'header.user.terms' | translate }}
      </a>
  </mat-card-actions>
</mat-card>