@use "./styles/catalog-button.scss";
@use "./styles/catalog-body.scss";

:host {
  &.stretch{
    .catalog{
      width: auto;

      &.open,
      &:hover {
        .catalog__trigger-btn {
          color: var(--mat-sys-primary-container);
          background-color: var(--mat-sys-secondary-fixed-dim);
        }
  
        .mat-icon {
          color: var(--mat-sys-primary-container);
        }
      }
    }

    
    .catalog__trigger-btn{
      border-radius: 0;
      background-color: transparent;
      color: var(--mat-sys-on-secondary-container);

      .mat-icon {
        color: var(--mat-sys-on-secondary-container)
      }
    }
  }
}

.catalog{
  width: 240px;
  height: 50px;
  border-radius: 8px;
  position: relative;
  z-index: 2;

  &.open {
    .catalog__trigger-btn{
      background-color: var(--mat-sys-secondary-fixed-dim);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .catalog__body {
      pointer-events: unset;
    }

    .carret {
      transform: rotate(180deg);
    }
  }
}



