@let catalogList = (catalogList$ | async); 
@let lang = (currentLang$ | async); 
<!-- @let selectedCategory = (selectedCategory$ | async); -->

@if(catalogList && lang) {
<div class="catalog" appOpenMenu>
  <button class="catalog__trigger-btn">
    <div class="catalog__btn-text">
      <mat-icon>notes</mat-icon>
      <span>{{ "header-market.catalog.title" | translate }}</span>
    </div>
    <mat-icon class="carret">arrow_drop_down</mat-icon>
  </button>
  <div class="catalog__body dropdown-body">
    <ul class="catalog__list dropdown-list">
      @for(item of catalogList; track item.id; let i = $index) {
      <li class="catalog__item">
        <!-- (click)="selectCategory(item.slug)" -->
        <a
          [routerLink]="['/', lang.browserLang, 'products']"
          [class.active]="item.slug == selectedCategory()"
          [queryParams]="{ category: item.slug }"
        >
          {{ item.name[lang.browserLang] }}
        </a>
      </li>
      }
    </ul>
  </div>
</div>
}
