@use "./styles/catalog-button.scss";
@use "./styles/catalog-body.scss";

// :host {
//   margin-left: auto;
// }

.catalog{
  width: 240px;
  height: 50px;
  border-radius: 8px;
  position: relative;
  z-index: 2;

  &.open {
    .catalog__trigger-btn{
      background-color: var(--mat-sys-secondary-fixed-dim);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .catalog__body {
      pointer-events: unset;
    }

    .carret {
      transform: rotate(180deg);
    }
  }
}



