@use "./styles/catalog-dr-button.scss";
@use "./styles/catalog-dr-body.scss";

.catalog-dr{
  width: 240px;
  height: 50px;
  border-radius: 8px;
  position: relative;
  z-index: 2;

  &.open {
    .catalog-dr__trigger-btn{
      background-color: var(--mat-sys-secondary-fixed-dim);
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .catalog-dr__body {
      pointer-events: unset;
    }

    .carret {
      transform: rotate(180deg);
    }
  }
}



