@let catalogList = (catalogList$ | async);
@let lang = (currentLang$ | async)!.browserLang;
@let selectedCategory = (selectedCategory$ | async);

<div class="catalog-dr" appOpenMenu>
  <button class="catalog-dr__trigger-btn">
    <div class="catalog-dr__btn-text" >
      <mat-icon>notes</mat-icon>
      <span>{{'header-market.catalog.title' | translate}}</span>
    </div>
    <mat-icon class="carret">arrow_drop_down</mat-icon>
  </button>
  <div class="catalog-dr__body dropdown-body">
    <ul class="catalog-dr__list dropdown-list">
      <li class="catalog-dr__item">
        <button 
          [class.active]="selectedCategory == 'all'"
          (click)="selectCategory('all')"
        >
          {{'header-market.catalog.all-categories' | translate}}
        </button>
      </li>
      @for(item of catalogList; track item.id; let i = $index) {
        <li class="catalog-dr__item">
          <button 
            [class.active]="selectedCategory == item.slug"
            (click)="selectCategory(item.slug)"
          >
            {{item.name[lang]}}
          </button>
        </li>
      }
    </ul>
  </div>
</div>