@use "@angular/material" as mat;

.product-card__counter {
  --mat-fab-small-touch-target-display: none;

  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0;

	// Обнуляем боковые padding у inpup
	::ng-deep mat-form-field .mdc-text-field {
    padding: 0;
  }

  @media (max-width: 576px) {
    justify-content: center;
  }
}

mat-form-field {
  --mdc-filled-text-field-container-shape: 0;
  --mat-form-field-container-vertical-padding: 0;

  width: 100%;
  max-width: 36px;

  @include mat.form-field-overrides(
    (
      container-height: 24px,
      container-text-line-height: 24px,
    )
  );

  input {
    text-align: center;
  }
}
