<div 
	class="product-card__counter" 
  [class.big]="size() == 'big'"
>
  <app-mini-fab-btn
    [width]="btnWidth()"
    borderRadius="0"
    iconName="remove"
    ariaLabel="Add to cart"
    (click)="decrease()"
    [isBadgeHidden]="true"
    iconColor="var(--mat-sys-on-secondary-container)"
  />

  <mat-form-field class="no-subscript">
    <input 
		matInput 
		min="1" 
		max="999" 
		type="number" 
		[formControl]="counter"
		(input)="onInput($event)"
	/>
  </mat-form-field>

  <app-mini-fab-btn
    [width]="btnWidth()"
    borderRadius="0"
    iconName="add"
    ariaLabel="Add"
    (click)="increase()"
    [isBadgeHidden]="true"
    iconColor="var(--mat-sys-on-secondary-container)"
  />
</div>
