.login-popup {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;

  .login-popup__hero {
    width: 150px;
    height: 314px;
    flex-shrink: 0;

    img {
      width: 100%;
      height: 100%;
    }
  }
}