@let translates = ('homepage.hit-products' | translate);

<div class="container">
  <div class="hit-products">
    <app-h2-title 
      class="hit-products__title"
      [text]="translates.title"
      fz="2rem"
      mb="30px"
    />
  
    <div class="hit-products__filters green">
      <app-scroll-items
        [scrollItemsData]="translates.filters"
      >
        <ng-template #itemTemplate let-itemData>
          <app-hit-filter-btn 
            [isActive]="appliedFilter() === itemData.selector"
            [btnData]="itemData"
            (filterBtnClicked)="applyFilter($event)"
          />
        </ng-template>
      </app-scroll-items>
    </div>
  
    <div class="hit-products__cards">
      @if(isLoading()) {
        <app-loader />
      } @else {
        @for(product of hitProducts(); track product.id) {
          <app-product-card 
            [product]="product" 
            [withStockAndRate]="false"
          />
        }@empty {
          <p>{{translates['not-found']}}</p>
        }
      }
    </div>
  </div>
</div>
