.hit-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 35px 0;

  @media (max-width: 576px) {
      padding: 24px 0;
  }
}

.hit-products__title {
  margin-bottom: 30px;
}

.hit-products__filters {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.hit-products__cards {
  // display: flex;
  // align-items: start;
  // justify-content: center;
  // flex-wrap: wrap;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 27px;
	min-height: 250px;

  @media (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 768px) {
    gap: 10px;
  }

  @media (max-width: 576px) {
    gap: 5px;
  }
}

app-loader {
  margin: auto;
}

.hit-products__empty {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 24px;
	margin: auto;

	mat-icon {
		width: auto;
		height: auto;
		font-size: 3.5rem;
	}

	p {
		font-size: 1.5rem;
	}
}

.hit-products__show-more {
  margin-top: 30px;

  @media (max-width: 576px) {
      margin-top: 24px;
  }
}

