.hit-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 35px 0;

  @media (max-width: 576px) {
    padding: 24px 0;
  }
}

.hit-products__title {
  margin-bottom: 30px;
}

.hit-products__filters {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.hit-products__cards {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 27px;
  min-height: 250px;

  > * {
    flex: 0 0 calc((100% - 54px) / 3); // 3 колонки с учетом gap
    max-width: calc((100% - 54px) / 3);
  }

  @media (max-width: 992px) {
    // grid-template-columns: repeat(2, 1fr);
    > * {
      flex: 0 0 calc((100% - 27px) / 2); // 2 колонки
      max-width: calc((100% - 27px) / 2);
    }
  }

  @media (max-width: 768px) {
    gap: 10px;
  }

  @media (max-width: 576px) {
    gap: 5px;
    > * {
      flex: 0 0 calc((100% - 5px) / 2); // 2 колонки
      max-width: calc((100% - 5px) / 2);
    }
  }
}

app-loader {
  margin: auto;
  grid-column: 1 / -1;
  justify-self: center;
}

.hit-products__empty {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin: auto;

  mat-icon {
    width: auto;
    height: auto;
    font-size: 3.5rem;
  }

  p {
    font-size: 1.5rem;
  }
}

.hit-products__show-more {
  margin-top: 30px;

  @media (max-width: 576px) {
    margin-top: 24px;
  }
}
