@let translates = ('homepage.hit-products' | translate);

<div class="container">
  <div class="hit-products">
    <app-h2-title 
      class="news__title"
      [text]="translates.title"
      fz="2rem"
    />
  
    <div class="hit-products__filters">
      <app-scroll-items
        [scrollItemsData]="translates.filters"
      >
        <ng-template #itemTemplate let-itemData>
          <app-hit-filter-btn 
            [text]="itemData.name"
          />
        </ng-template>
      </app-scroll-items>

      <!-- @for(filter of translates.filters; track $index) {
        <button 
          [class.active]="appliedFilter() === filter.selector"
          (click)="applyFilter(filter.selector)"
        >
          {{filter.name}}
        </button>
      } -->
    </div>
  
    <div class="hit-products__cards">
      @if(isLoading()) {
        <app-loader />
      } @else {
        @for(product of hitProducts(); track product.id) {
          <app-product-card 
            [product]="product" 
            [withStockAndRate]="false"
          />
        }@empty {
          <p>{{translates['not-found']}}</p>
        }
      }
    </div>
  </div>
</div>
