.hit-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 70px 0;
}

.hit-products__title {
  margin-bottom: 30px;
}

.hit-products__filters {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hit-products__cards {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 27px;
	min-height: 250px;
  margin-bottom: 50px;
}

app-loader {
  margin: auto;
}

.hit-products__empty {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 24px;
	margin: auto;

	mat-icon {
		width: auto;
		height: auto;
		font-size: 3.5rem;
	}

	p {
		font-size: 1.5rem;
	}
}
