.hit-products {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	flex-wrap: wrap;
}

.hit-products__filters{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hit-products__cards {
	display: flex;
	align-items: start;
	justify-content: center;
	flex-wrap: wrap;
	gap: 27px;
}