:host {
  width: 100%;
  height: 100%;
}

.carousel__item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: opacity 0.5s ease-in-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel__container {
  max-width: 1320px;
  padding: 15px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel__slide-content {
  width: 100%;
  max-width: 80%;
  padding: 24px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: var(--mat-sys-on-secondary-fixed-variant);
}

.carousel__slide-title,
.carousel__slide-subtitle {
  font-family: "Ruda", sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 1.3;
  text-transform: uppercase;

}

.carousel__slide-subtitle {
  color: red;
}

.carousel__slide-descr {
  font-size: 16px;
  margin-bottom: 35px;
  line-height: 1.4;
}

.carousel__slide-btn {
  cursor: pointer;
  position: relative;
  transition: top 0.4s ease-in-out, background-color 0.2s ease-in-out;

  &:hover {
    top: -1px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}