.cart-page {
  padding-top: 24px;
  padding-bottom: 24px;
}

.cart-page__title {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 24px;
}

.cart-page__content {
  display: grid;
  grid-template-columns: 1fr minmax(270px, 320px);
  gap: 16px;
  align-items: start;
  margin-top: 24px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

.cart-page__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    justify-self: center;
  }

  app-product-card-cart {
    min-width: 340px;
    width: 100%;
  }
}