section {
  padding: 50px 0;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

mat-sidenav {
  width: 310px !important;
}

.products__content {
  --mat-sidenav-container-shape: 0; //закругления сайдбара
  --mat-sidenav-content-background-color: transparent;
  --mat-sidenav-container-background-color: transparent;

  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: space-between;
  // gap: 20px;
  min-height: 910px;
}

.products__filters {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 30px;
  width: 300px;
  height: 100%;
  padding: 3px; // чтобы не обрезался box-shadow при наведении на аккордионы
}

.products__main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 46px;
  overflow: hidden;
}

.products__top {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 15px;
}

.products__sorting {
  display: flex;
  align-items: center;
  gap: 15px;
}

.products__view {
  display: flex;
  align-items: center;
  gap: 15px;
}

.products__cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

app-catalog-pagination {
  align-self: center;
}

// Переопределение стилей Material для backdrop
::ng-deep .mat-drawer-backdrop {
  background-color: rgba(0, 0, 0, 0.6);
}
