<section class=" green">
  <div class="container">
    <div class="products">
      <app-h2-title 
        [text]="'products-page.title' | translate"
      />
      <div class="products__content" #productsContent>
        <div class="products__filters">
          <app-catalog-filters />
          <app-badge-filter />
        </div>
    
        <div class="products__main">
          <div class="products__top">
            <div class="products__sorting">
              <app-sorting-by />
              <app-limit-by />
            </div>
    
            <div class="products__view">
              <app-show-filters-btn />
              <app-view-list-btn />
              <app-view-grid-btn />
            </div>
          </div>
    
          <div class="products__cards">
            @if(isLoading()) {
              <app-loader />
            } @else {
              @for(card of products(); track card.id) {
                @if(view() == 'list') {
                  <app-product-card-list [product]="card"/>
                } @else {
                  <app-product-card 
                    [product]="card" 
                    [withStockAndRate]="true"
                  />
                }
              } @empty {
                <p>NOT FOUND BY FILTER</p>
              }
            }
          </div>
    
          <app-catalog-pagination />
        </div>
      </div>
    </div>
  </div>
</section>
