<section class=" green">
  <div class="container">
    <app-breadcrumbs />
    <div class="products">
      <app-h2-title 
        [text]="'catalog-page.title' | translate"
      />
      <mat-sidenav-container 
        class="products__content" 
        [class.edge-space]="sidenavMode() == 'over'"
        (backdropClick)="onBackdropClick()"
      >
        <!-- Sidenav с фильтрами -->
        <mat-sidenav
          #sidenav
          position="start"
          [mode]="sidenavMode()"
          [opened]="isSidenavOpenByDefault()"
        >
          <div class="products__filters">
            <app-catalog-filters />
            <app-badge-filter />
            <app-price-filter />
          </div>
        </mat-sidenav>
    
        <!-- Основной контент -->
        <mat-sidenav-content class="products__main">
          <div class="products__top">
            <div class="products__sorting">
              <app-sorting-by />
              <app-limit-by />
            </div>
    
            <div class="products__view">
              <app-show-filters-btn (click)="sidenav.toggle()"/>
              @if(isViewBtnsVisible()) {
                <app-view-list-btn />
                <app-view-grid-btn />
              }
            </div>
          </div>
    
          <div 
            #productsContent
            class="products__cards"
            [class.thin]="isCardsBlockThin()"
          >
            @if(isLoading()) {
              <app-loader />
            } @else {
              @for(card of products(); track card.id) {
                @if(view() == 'list') {
                  <app-product-card-list [product]="card"/>
                } @else {
                  <app-product-card 
                    [product]="card" 
                    [withStockAndRate]="true"
                  />
                }
              } @empty {
                <p>NOT FOUND BY FILTER</p>
              }
            }
          </div>
    
          <app-catalog-pagination />
        </mat-sidenav-content>
      </mat-sidenav-container>
    </div>
  </div>
</section>
