section {
  padding: 50px 0;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.products__main {
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.products__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.products__top {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 15px;
} 

.products__sorting {
  display: flex;
  align-items: center;
  gap: 15px;
}

.products__view {
  display: flex;
  align-items: center;
  gap: 15px;
}

.products__cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

app-catalog-pagination {
  align-self: center;
}