section {
  padding: 50px 0;

  @media (max-width: 992px) {
    padding: 30px 0 50px;
  }
}

.products {
  display: flex;
  flex-direction: column;
  gap: 50px;

  @media (max-width: 576px) {
    gap: 30px;
  }
}

mat-sidenav {
  width: 310px;
  // border-right: 1px solid #e0e0e0;

  @media (max-width: 992px) {
    width: 290px;
  }
}

.products__content {
  --mat-sidenav-container-shape: 0; //закругления сайдбара
  --mat-sidenav-content-background-color: transparent;
  --mat-sidenav-container-background-color: var(--mat-sys-background);
  --mat-sidenav-scrim-color: color-mix(in srgb, #000 60%, transparent);

  display: flex;
  height: 100%;
  align-items: flex-start;
  justify-content: space-between;
  // gap: 20px;
  min-height: 940px;

  &.edge-space {
    padding: 15px 15px 15px 0; // отступы для лучшего вида, когда при открытом сайдбаре появляется backdrop

    @media (max-width: 576px) {
      padding-right: 0;
    }
  }
}

.products__filters {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 30px;
  width: 300px;
  height: 100%;
  padding: 3px; // чтобы не обрезался box-shadow при наведении на аккордионы

  @media (max-width: 992px) {
    width: 280px;
  }
}

.products__main {
  width: 100%;
  height: 100%;
  min-height: 940px;
  display: flex;
  flex-direction: column;
  gap: 46px;
  overflow: hidden; // чтобы убрать баговые скроллы при добавлении обертки sidenav
}

.products__top {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 15px;

  @media (max-width: 992px) {
    gap: 5px;
  }

  @media (max-width: 576px) {
    align-items: start;
    justify-content: space-between;
  }
}

.products__sorting {
  display: flex;
  align-items: center;
  gap: 15px;

  @media (max-width: 992px) {
    gap: 5px;
  }

  @media (max-width: 576px) {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
}

.products__view {
  display: flex;
  align-items: center;
  gap: 15px;

  @media (max-width: 992px) {
    gap: 5px;
  }
}

app-loader {
  margin: auto;
  grid-column: 1 / -1;
  justify-self: center;
}

.products__cards {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: center;
  gap: 30px;
  margin-bottom: auto;

  @media (max-width: 1280px) {
    gap: 5px;
  }

  &.thin {
    >* {
      flex: 0 0 calc((100% - 5px) / 2); // 2 колонки
      max-width: calc((100% - 5px) / 2);
    }
  }
}

app-catalog-pagination {
  align-self: center;
}