<div class="more" appOpenMenu>
  <app-mini-fab-btn 
    iconName="more_vert"
    [isBadgeHidden]="true"
    iconColor="var(--mat-sys-on-secondary-container)"
  />

  <div class="more__body dropdown-body">
    <ul class="more__list dropdown-list">
      <!-- @for(comp of componentsList(); track $index) { -->
        <!-- <li class="more__item">{{comp}}</li> -->
        <li class="more__item">
          <app-show-search-btn 
            class="elem-toggle"
          />
        </li>
        <li class="more__item"><app-profile-btn /></li>
        <li class="more__item"><app-favs-btn /></li>
        <li class="more__item"><app-shopping-cart /></li>


              
      
      
      
      <!-- } -->
    </ul>
  </div>
</div>
