:host {
  width: 100%;
  max-width: 400px;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @media (max-width: 576px) {
    gap: 16px;
  }
}