.info-dialog {
  border: 1px solid var(--mat-sys-primary);
  border-radius: 28px;
}

.info-dialog__close {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 1;
}

.info-dialog__message {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
  margin-top: 15px;
}