<div class="common-input">
  @if(title()) {
    <app-h6-title 
      [text]="title()"
    />
  }
  
  <mat-form-field
    appearance="outline"
    class="form-control"
  >
  
    @if(label()) {
      <mat-label>{{label()}}</mat-label>
    }
  
    <input 
      matInput 
      type="'text" 
      [placeholder]="placeholder()"
      [formControl]="inputControl()"
    >
  
    @if(suffixIcon()) {
      <mat-icon matSuffix>
        {{suffixIcon()}}
      </mat-icon>
    }
  
    @if(hint()) {
      <mat-hint>{{hint()}}</mat-hint>
    }
  
     @if (inputControl().hasError('required') && inputControl().touched) {
      <mat-error>
        {{'common.forms.name.nick-error-required' | translate}}
      </mat-error>
    }
  
  </mat-form-field>
</div>