@let slidesList = (slides$ | async);

@if(slidesList && slidesList.length) {
  <lib-ngx-carousel>
    @for(slide of slidesList; track $index; let i = $index) {
      <ngx-carousel-slide>
        <app-carousel-slide 
          [slide]="slide"
        />
      </ngx-carousel-slide>
    }
  </lib-ngx-carousel>
}

<h1>SOME TEXT AFTER SLIDER0</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER10</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER20</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER25</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER30</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER40</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER</h1>
<h1>SOME TEXT AFTER SLIDER90</h1>
<h1>SOME TEXT AFTER SLIDER91</h1>
<h1>SOME TEXT AFTER SLIDER92</h1>
<h1>SOME TEXT AFTER SLIDER93</h1>
<h1>SOME TEXT AFTER SLIDER94</h1>
<h1>SOME TEXT AFTER SLIDER95</h1>
<h1>SOME TEXT AFTER SLIDER96</h1>
<h1>SOME TEXT AFTER SLIDER97</h1>
<h1>SOME TEXT AFTER SLIDER98</h1>
<h1>SOME TEXT AFTER SLIDER99</h1>
<h1>SOME TEXT AFTER SLIDER100</h1>
