.carousel-main{
    --carousel-list-height: 500px;

    --user-controls-btn-border: 0 solid transparent;
    --user-controls-btn-bg: var(--mat-sys-primary-container);
    --user-controls-btn-radius: 6px;
    
}